.product-form{padding: 1rem;}
.form-control{margin: 1rem 0;}
.form-control label{display: block;}
.form-control input{display: block; margin-bottom: 0.5rem; padding: 0.5rem 0.25rem;}
.form-control input{border: 1px solid #dbc441; font:inherit;border-radius: 2px;}
button{font: inherit; border: 1px solid blueviolet;color: blueviolet;background: #fff;}